<h1>This is Home page for my Alpha Blog</h1>
<p style="color: green; text-align: center;">I'm doing it the rails way</p>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path  %>