<div class="center shrink jumbotron">
  <h1>Alpha Blog</h1>
  <p style="color: #cff780; text-align: center;">I'm doing it the rails way</p>
  <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-lg" %>
</div>



